parameters:
    excludePaths:
        - src/Graphviz/
    ignoreErrors:
        - '/Cannot call method scalarNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null\./'
